{% extends "base.html" %}



{% block cuerpo %}
  <div class="row"><!--LA FILA-->
   <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--columna izquierda-->

     <h1>Editar</h1>
     <div class="card"><!--la tarjeta-->
      <div class="card-body">
        <form action="/editarClientes/" method="POST">{% csrf_token %}<!--falta action-->
          <div class="form-group py-2">
            <input type="text" id="txtid" name="txtid" class="form-control"
            value="{{misclientes.id_clien}}" minlength="1"  maxlength="6" required readonly>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control"
            value="{{misclientes.nombre}}" minlength="1"  maxlength="100" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtapellido" name="txtapellido" class="form-control"
            value="{{misclientes.apellido}}" minlength="1" maxlength="100"  required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtcel" name="txtcel" class="form-control"
            value="{{misclientes.celular}}" minlength="1" maxlength="100"  required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtdir" name="txtdir" class="form-control"
            value="{{misclientes.direccion}}" minlength="1" maxlength="100"  required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtfe" name="txtfe" class="form-control"
            value="{{misclientes.fecha_nac}}" minlength="1" maxlength="100"  required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtemail" name="txtemail" class="form-control"
            value="{{misclientes.email}}" minlength="1" maxlength="100"  required>
          </div>
          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar Empleado</button>
          </div>

        </form>
      </div>
    </div><!--la tarjeta-->

   </div><!--columna izquierda-->
   {% endblock %}